.countries-container{
    display: flex;
    justify-content: space-between;
}

.countries{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 5px
}
.count-container{
    background-color: beige;
    margin-right: 20px;
    padding: 0px 60px 0px 10px;
    border-radius: 10px;
    width: 100px;

}
.count-container h4{
    position: sticky;
    top: 20px;
}